@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
  color: black;
  margin-top: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

button {
  height: 50px;
  width: 200px;
  color: aliceblue;
  background-color: #473bf0;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: black;
  padding-left: 60px;
  padding-top: 20px;
}
